%% -*- erlang -*-
%% Config file for sl-application
{deps_dir, ["deps"]}.
{deps, [eapi]}.
{erl_opts, [debug_info, fail_on_warning]}.
{require_otp_vsn, "R14|R15"}.
{sub_dirs, ["src"]}.
{port_env, [
	    {"CFLAGS", "$CFLAGS -I ../eapi/include"},
	    {"LDFLAGS", "$LDFLAGS ../eapi/c_src/eapi_drv_lib.o"}
	   ]}.
{port_specs, [
	      {"(linux|freebsd|darwin)","priv/sl_drv.so",["c_src/*.c"]}
	     ]}.
