%% -*- erlang -*-
%% Config file for sl-application
{deps_dir, ["deps"]}.
{deps, [eapi]}.
{erl_opts, [debug_info, fail_on_warning]}.
{require_otp_vsn, "R14|R15"}.
{sub_dirs, ["src"]}.
{port_specs, [{"priv/sl_drv.so", ["c_src/*.c"]}]}.
{port_env, [{"CFLAGS", "$CFLAGS -I ../eapi/include"},
	       {"PORT_IN_FILES", "$PORT_IN_FILES ../eapi/lib/release/eapi_drv.a"}]}.
